@media (max-width: 992px){
	.ak1{
		left: 20%;
	}
	@Keyframes input2{
	from{
		width: 100px;
		height: 100px;
		top: 150%;
		left: 40%;
	}
	to{
		width: 500px;
		height: 500px;
		top: 100px;
		left: 20%;
	}
	}
	@Keyframes input3{
		from{
			width: 100px;
			height: 100px;
			top: -150%;
			left: 40%;
		}
		to{
			width: 500px;
			height: 500px;
			top: 100px;
			left: 20%;
		}
	}
	@Keyframes input4{
		from{
			width: 500px;
			height: 500px;
			left: 20%;
			top: 100px;
		}
		to{
			width: 100px;
			height: 100px;
			left: 40%;
			top: 150%;
		}
	}
}




@media (max-width: 650px){
	.ak1{
		left: 10%;
	}
	@Keyframes input2{
		from{
			width: 100px;
			height: 100px;
			top: 150%;
			left: 40%;
		}
		to{
			width: 500px;
			height: 500px;
			top: 100px;
			left: 10%;
		}
	}
	@Keyframes input3{
		from{
			width: 100px;
			height: 100px;
			top: -150%;
			left: 40%;
		}
		to{
			width: 500px;
			height: 500px;
			top: 100px;
			left: 10%;
		}
	}
	@Keyframes input4{
		from{
			width: 500px;
			height: 500px;
			left: 10%;
			top: 100px;
		}
		to{
			width: 100px;
			height: 100px;
			left: 40%;
			top: 150%;
		}
	}
}