.div2{
	width: 100%;
	height: 100vh;
	border: 1px solid;
	position: relative;
}
img{
	margin: 25vh 250px;
	position: absolute;
	z-index: 1;
}
.div2 div{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: black;
	position: absolute;
	z-index: 5;
}
.radius1{
	top: 290px;
	left: 495px;
}
.radius2{
	top: 290px;
	left: 637px;
}